In [1]:
for i in range(0,5):
    print(i)

0
1
2
3
4

In [5]:
def even(num):
    '''@Ajay: CHecking even number'''
    if num%2 == 0:
        print("Even number")
    else:
        print("Odd number")

In [6]:
even(3)

Odd number

In [7]:
even.__doc__

'@Ajay: CHecking even number'

In [8]:
val = 10
print(val , 'is a integer?',isinstance(val,int))

10 is a integer? True

In [10]:
str = 'Hello'
str.upper()

'HELLO'

In [13]:
li = 'Hello python'
list(enumerate(li))

[(0, 'H'),
 (1, 'e'),
 (2, 'l'),
 (3, 'l'),
 (4, 'o'),
 (5, ' '),
 (6, 'p'),
 (7, 'y'),
 (8, 't'),
 (9, 'h'),
 (10, 'o'),
 (11, 'n')]

In [14]:
l = 'Hello how are u man'
l.partition('how')

('Hello ', 'how', ' are u man')

In [15]:
h = 'Hello how ar u'
h.replace('how','u okay')

'Hello u okay ar u'

In [16]:
a = 5
b = 9
c = 3

res = "this all are good but a,b, c are {},{},{}"
print(res.format(a,b,c))

this all are good but a,b, c are 5,9,3

In [18]:
a = 'hwllo ar u fine now'
a.index('u')

9

In [22]:
a = '2920923'
a.isnumeric()

True

In [23]:
l = [2,3,4,'one',6]
l.append('seven')

In [24]:
l

[2, 3, 4, 'one', 6, 'seven']

In [27]:
l.insert(3,'nice')

In [28]:
l

[2, 3, 4, 'nice', 'one', 6, 'seven', 'nice']

In [31]:
l.reverse()

In [32]:
l

['nice', 'seven', 6, 'one', 'nice', 4, 3, 2]

In [33]:
l[::-1]

[2, 3, 4, 'nice', 'one', 6, 'seven', 'nice']

In [35]:
l = 'Welcome'
list1 = [i for i in l]
list1

['W', 'e', 'l', 'c', 'o', 'm', 'e']

In [39]:
mylist = [i for i in range(40) if i%7 == 0 else print('No')]
mylist

SyntaxError: invalid syntax (270919220.py, line 1)

# List Comprehension

In [45]:
l = ['mango' if i%2==0 else 'orange' for i in range(5)]
l

['mango', 'orange', 'mango', 'orange', 'mango']

In [47]:
l1 = [print('{} even number'.format(i)) if i%2 == 0 else print('{} odd number'.format(i)) for i in range(20)]

0 even number
1 odd number
2 even number
3 odd number
4 even number
5 odd number
6 even number
7 odd number
8 even number
9 odd number
10 even number
11 odd number
12 even number
13 odd number
14 even number
15 odd number
16 even number
17 odd number
18 even number
19 odd number

In [49]:
l = [23,24,21,9,20,38,48]
sorted(l,reverse = True)

[48, 38, 24, 23, 21, 20, 9]

In [51]:
l.index(24)

1

In [52]:
l = {2,3,4,5}
l.add(7)

In [53]:
l

{2, 3, 4, 5, 7}

In [56]:
l.update([1,9,3])
l

{1, 2, 3, 4, 5, 7, 9}

In [62]:
a = {1,2,3}
b = {3,4,5}
c = {5,6,7}

In [63]:
a.symmetric_difference(b)

{1, 2, 4, 5}

In [59]:
a

{3}

In [66]:
a = dict({1:'a',2:'b',3:'c'})

In [67]:
a

{1: 'a', 2: 'b', 3: 'c'}

In [69]:
keys = {1,2,3,4}
values = 10
mydict = dict.fromkeys(keys,values)
mydict

{1: 10, 2: 10, 3: 10, 4: 10}

In [71]:
mydict.get(3)

10

In [78]:
mydict1 = {'Name':'Asif' , 'ID': 12345 , 'DOB': 1991 , 'Address' : 'Hilsinki'}

In [79]:
for i in mydict1:
    print(i," : ",mydict1[i])

Name  :  Asif
ID  :  12345
DOB  :  1991
Address  :  Hilsinki

In [73]:
dict1 = {'DOB':1995}
mydict1.update(dict1)

In [74]:
mydict1

{'Name': 'Asif', 'ID': 12345, 'DOB': 1995, 'Address': 'Hilsinki'}

In [75]:
mydict1.pop('Name')

'Asif'

In [77]:
mydict1.popitem()

('Address', 'Hilsinki')

In [83]:
dict1 = {i:i**2 for i in range(5)}

In [84]:
dict1

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16}

In [85]:
mydict1 = {'a':10 , 'b':20 , 'c':30 , 'd':40 , 'e':50}

In [87]:
l = {k:v/10 for (k,v) in mydict1.items()}

In [88]:
l

{'a': 1.0, 'b': 2.0, 'c': 3.0, 'd': 4.0, 'e': 5.0}

In [89]:
str1 = "Natural Language Processing"
l = {i:i.upper() for i in str1}

In [90]:
l

{'N': 'N',
 'a': 'A',
 't': 'T',
 'u': 'U',
 'r': 'R',
 'l': 'L',
 ' ': ' ',
 'L': 'L',
 'n': 'N',
 'g': 'G',
 'e': 'E',
 'P': 'P',
 'o': 'O',
 'c': 'C',
 's': 'S',
 'i': 'I'}

In [92]:
words = ["apple", "banana", "apple", "orange", "banana", "grape", "apple"]
l = {word:words.count(word) for word in words}

In [93]:
l

{'apple': 3, 'banana': 2, 'orange': 1, 'grape': 1}

In [95]:
def a(n):
    n = n*n
    return n
a(4)

16

In [97]:
list1 = [11,22,33,44,55]
def a(list1):
    list1.append(43)
print("List befroe", list1)
a(list1)
print("After ", list1)

List befroe [11, 22, 33, 44, 55]
After  [11, 22, 33, 44, 55, 43]

In [102]:
def factorialss(n):
    if n<=1:
        return 1
    else:
        return n*factorialss(n-1)
factorialss(4)

24

In [103]:
def fib(n):
    if n<=1:
        return n
    else:
        return fib(n-1)+fib(n-2)
n=10
f1 = [fib(i) for i in range(n)]
f1

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [104]:
def ad(*args):
    return sum(args)
print(ad(1,2,3))

6

In [107]:
l1 = [3,4,5,6,7]
ad(1,3,4)

8

In [111]:
def UserDetails(**kwargs):
    for key,value in kwargs.items():
        print('{} : {}'.format(key,value))


UserDetails(Name='Asif' , ID=7412 , Pincode=41102 , Age= 33 ,Country= 'Indi')

Name : Asif
ID : 7412
Pincode : 41102
Age : 33
Country : Indi

In [112]:
mydict = {'Name': 'Asif', 'ID': 7412, 'Pincode': 41102, 'Age': 33}
UserDetails(**mydict)

Name : Asif
ID : 7412
Pincode : 41102
Age : 33

In [114]:
res = lambda *args:sum(args)
print(res(1,2,3,4))

10

In [115]:
list1 = [1,2,3,4,5,6,7,8,9]
f = list(filter(lambda i:i%2==1,list1))

In [116]:
f

[1, 3, 5, 7, 9]

In [117]:
list1 = [1,2,3,4,5,6,7,8,9]
d = list(map(lambda i:i*2,list1))

In [118]:
d

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [120]:
from functools import reduce
d = reduce(lambda a,b:a+b,list1)

In [121]:
d

45

In [125]:
class Emp:
    def __init__(self,name,idd):
        self.name = name
        self.idd = idd
        
    def greet(self):
        print("thankyou for joining {}".format(self.name))
obj = Emp('Ajay',1)
obj.greet()

thankyou for joining Ajay